@charset "UTF-8";



.under img {
	width:50px;
	height: 40px;
}


.popovers {
	position: absolute;
	background-color: white;
	right : 0;
	margin-right:10%;
	margin-top: 10%;
	display: none;
}

.popovers .popupBody {
	padding : 10px;
	font-size : 12px;
}


.popovers .popupTitle{
	margin-top:5px;
	padding : 10px;
	font-size : 14px;
}